<%- include("includes/header.ejs") %>
<body>
    
    <form action="/post/edit/<%= post.id %>?_method=patch" method="post">
    <textarea name="pos" id=""><%= post.post %></textarea>
    <button>submit</button>
    </form>
    
</body>
<script src="script.js"></script>
</html>